.px-checkbox-label {
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: block;
  background: url("images/px-icons/px-checkbox_1_inactive.png") no-repeat;
  position: relative;
  float: left;
  margin-right: 4px;
  margin-top: 2px; }
  .px-checkbox-label:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 4px;
    background: #39b54a;
    -webkit-transition: 0.2s transform ease-in;
    -moz-transition: 0.2s transform ease-in;
    -ms-transition: 0.2s transform ease-in;
    transition: 0.2s transform ease-in; }

.px-checkbox:checked + .px-checkbox-label:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s transform ease-in;
  -moz-transition: 0.2s transform ease-in;
  -ms-transition: 0.2s transform ease-in;
  transition: 0.2s transform ease-in; }

.px_custom-fields-range .px_radiobox + span {
  float: left;
  line-height: 19px;
  margin-right: 5px; }
  .px_custom-fields-range .px_radiobox + span i {
    display: block; }
.px_custom-fields-range .px_radiobox.theme-field + span {
  line-height: 15px;
  padding-top: 2px; }

.px_radiobox {
  display: inline-block;
  width: 15px !important;
  height: 15px !important;
  background: url("images/px-icons/px-radiobox-inactive.png") no-repeat;
  cursor: pointer;
  position: relative;
  margin-right: 4px;
  margin-top: 2px; }
  .px_radiobox + span {
    line-height: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; }

.px_radiobox-input:checked + .px_radiobox {
  background: url("images/px-icons/px-radiobox.png") no-repeat; }
  .px_radiobox-input:checked + .px_radiobox:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url("images/px-icons/px-radiobox-bullet.png") no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0px;
    margin-top: 0px; }

.px_radiobox-input {
  visibility: hidden;
  z-index: -2;
  position: absolute; }

input.px-checkbox {
  visibility: hidden;
  z-index: -1;
  position: absolute; }

.px-checkbox-slide {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  visibility: hidden; }
  .px-checkbox-slide + label {
    display: block;
    width: 40px;
    height: 18px;
    background: #f5f5f5;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px 2px 4px #cccccc;
    -moz-box-shadow: inset 0px 2px 4px #cccccc;
    -ms-box-shadow: inset 0px 2px 4px #cccccc;
    box-shadow: inset 0px 2px 4px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .px-checkbox-slide + label:after {
      content: "";
      display: block;
      clear: both; }
    .px-checkbox-slide + label .px-checkbox-slide-bullet {
      position: relative;
      z-index: 3;
      display: block;
      float: left;
      border: 1px solid transparent;
      width: 15px;
      height: 15px;
      margin-left: -11px;
      margin-top: 0px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background: #f1f1f1;
      box-shadow: 0px 1px 6px #bfbfbf; }
    .px-checkbox-slide + label .px-checkbox-slide-tracker {
      border: 1px solid transparent;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      display: block;
      width: 10px;
      height: 14px;
      margin-top: 0px;
      float: left;
      opacity: 0.0;
      -webkit-transition: 0.4s width, 0.2s opacity ease-in;
      -moz-transition: 0.4s width, 0.2s opacity ease-in;
      -ms-transition: 0.4s width, 0.2s opacity ease-in;
      transition: 0.4s width, 0.2s opacity ease-in; }

.px-checkbox-slide:checked + label .px-checkbox-slide-tracker {
  border: 1px solid transparent;
  width: 31px;
  opacity: 1.0;
  -webkit-transition: 0.4s width, 0.2s opacity ease-in;
  -moz-transition: 0.4s width, 0.2s opacity ease-in;
  -ms-transition: 0.4s width, 0.2s opacity ease-in;
  transition: 0.4s width, 0.2s opacity ease-in; }

.px-checkbox-slide.green + label .px-checkbox-slide-tracker {
  background: #39b54a; }

.px-checkbox-slide.gold + label .px-checkbox-slide-tracker {
  background: #d7bb21; }

.clear {
  clear: both; }

.px-saved-msg {
  font: normal normal 12px/30px 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  padding-left: 3px;
  color: #39b54a;
  display: none; }

.px-reviews-wrapper {
  margin-top: 20px;
  width: 100%;
  overflow: hidden; }
  .px-reviews-wrapper .px-nav-tabs {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #9d9d9d;
    height: 40px;
    max-width: 720px; }
    .px-reviews-wrapper .px-nav-tabs:after {
      content: "";
      display: block;
      clear: both; }
    .px-reviews-wrapper .px-nav-tabs .px-tab {
      display: block;
      height: 38px;
      width: 30%;
      line-height: 38px;
      text-align: center;
      position: relative;
      float: left;
      background: #d7bb21;
      color: #3a3a3a;
      font-size: 15px;
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      text-decoration: none;
      box-shadow: none;
      -webkit-transition: 0.3s background ease-in-out;
      -moz-transition: 0.3s background ease-in-out;
      -ms-transition: 0.3s background ease-in-out;
      transition: 0.3s background ease-in-out; }
      .px-reviews-wrapper .px-nav-tabs .px-tab:hover {
        background: rgba(215, 187, 33, 0.75);
        -webkit-transition: 0.5s background ease-in-out;
        -moz-transition: 0.5s background ease-in-out;
        -ms-transition: 0.5s background ease-in-out;
        transition: 0.5s background ease-in-out; }
      .px-reviews-wrapper .px-nav-tabs .px-tab.active {
        background: rgba(215, 187, 33, 0.75);
        -webkit-transition: 0.5s background ease-in-out;
        -moz-transition: 0.5s background ease-in-out;
        -ms-transition: 0.5s background ease-in-out;
        transition: 0.5s background ease-in-out; }
      .px-reviews-wrapper .px-nav-tabs .px-tab:before {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        content: "";
        display: block;
        width: 1px;
        background: white; }
      .px-reviews-wrapper .px-nav-tabs .px-tab:after {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background: #3a3a3a; }
      .px-reviews-wrapper .px-nav-tabs .px-tab:last-child:before {
        width: 200px;
        height: 2px;
        right: 0;
        margin-top: -2px;
        margin-right: -200px;
        background: #f1f1f1; }
  .px-reviews-wrapper h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    font-size: 24px;
    font-style: italic; }
  .px-reviews-wrapper .px-left {
    width: 50%; }
    .px-reviews-wrapper .px-left .px-opt {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 30px;
      position: relative;
      padding-right: 50px;
      border-bottom: 1px solid #d7d7d7;
      margin-top: 35px; }
      .px-reviews-wrapper .px-left .px-opt .check-btn {
        position: absolute;
        right: 0;
        top: 0; }
    .px-reviews-wrapper .px-left .colorpick {
      display: block;
      width: 45px;
      height: 22px;
      cursor: pointer;
      border: 1px solid transparent;
      overflow: hidden;
      text-indent: -9999px;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4); }
  .px-reviews-wrapper .px-right {
    width: 40%;
    margin-left: 10%; }

.px_reviews_row:after {
  content: "";
  display: block;
  clear: both; }
.px_reviews_row .px-col {
  float: left; }

.px_reviews_row h4 {
  margin: 0px;
  margin-top: 25px;
  font-size: 14px; }
.px_reviews_row .scheme-list li:after {
  content: "";
  display: block;
  clear: both; }
.px_reviews_row .scheme-list li label {
  float: left; }
.px_reviews_row .scheme-list li img {
  float: left; }
.px_reviews_row .scheme-list.stars, .px_reviews_row .scheme-list.hearts, .px_reviews_row .scheme-list.stars2 {
  float: left; }
.px_reviews_row .scheme-list.hearts, .px_reviews_row .scheme-list.stars2 {
  margin-left: 7%; }
.px_reviews_row .scheme-list.stars li {
  margin-top: 12px; }
  .px_reviews_row .scheme-list.stars li img {
    margin-top: -2px;
    margin-left: 8px; }
  .px_reviews_row .scheme-list.stars li:first-child {
    margin-top: 0px; }
.px_reviews_row .scheme-list.hearts li {
  margin-top: 15px; }
  .px_reviews_row .scheme-list.hearts li img {
    margin-top: 3px;
    margin-left: 9px; }
  .px_reviews_row .scheme-list.hearts li:first-child {
    margin-top: 0px; }
.px_reviews_row .scheme-list.stars2 li {
  margin-top: 12px; }
  .px_reviews_row .scheme-list.stars2 li img {
    margin-top: -3px;
    margin-left: 10px; }
  .px_reviews_row .scheme-list.stars2 li:first-child {
    margin-top: 0px; }
.px_reviews_row .scheme-list.likes {
  float: left; }
  .px_reviews_row .scheme-list.likes li {
    margin-top: 5px; }
    .px_reviews_row .scheme-list.likes li img {
      margin-left: 12px;
      margin-top: -2px; }
.px_reviews_row .more-schemes-come-soon {
  display: block;
  float: left;
  width: 45%;
  height: 60px;
  border: 1px solid #d7bb21;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: #3a3a3a;
  font-family: Arial, Arial, Helvetica, sans-serif;
  margin-left: 10%;
  margin-top: 10px; }
.px_reviews_row .review-row {
  position: relative; }
  .px_reviews_row .review-row:after {
    display: block;
    content: "";
    clear: both; }
  .px_reviews_row .review-row.featured:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #ece6c7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    margin-top: -5px; }
  .px_reviews_row .review-row .column {
    float: left; }
  .px_reviews_row .review-row .user-info {
    width: 17%;
    margin-right: 3%; }
    .px_reviews_row .review-row .user-info .px-checkbox-label {
      margin-left: 10px; }
    .px_reviews_row .review-row .user-info strong {
      line-height: 20px;
      font-weight: 600;
      font-family: "Open Sans", Arial, Helvetica;
      color: black;
      font-size: 13px;
      padding: 0px; }
    .px_reviews_row .review-row .user-info span {
      display: block;
      margin-left: 22px;
      color: black;
      font-size: 12px;
      font-family: "Open Sans", Arial, Helvetica;
      padding: 0px;
      margin-top: 5px; }
  .px_reviews_row .review-row .post-info {
    width: 23%;
    margin-right: 3%; }
    .px_reviews_row .review-row .post-info a {
      font-size: 13px;
      color: black;
      font-family: "Open Sans",Arial, Arial, Helvetica, sans-serif;
      display: block;
      font-weight: 600;
      text-decoration: none; }
    .px_reviews_row .review-row .post-info span.review, .px_reviews_row .review-row .post-info span.reply {
      display: block;
      width: 50px;
      background: #d7bb21;
      color: black;
      font-size: 11px;
      font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
      padding: 2px 5px;
      margin-top: 5px; }
    .px_reviews_row .review-row .post-info span.reply:before {
      content: "";
      display: block;
      float: left;
      background: url("images/reply-icon.png") no-repeat;
      width: 8px;
      height: 8px;
      margin-right: 5px;
      margin-top: 5px;
      margin-left: 3px; }
    .px_reviews_row .review-row .post-info span.reply:after {
      content: "";
      display: block;
      clear: both; }
    .px_reviews_row .review-row .post-info span.review {
      padding-left: 10px;
      width: 47px; }
  .px_reviews_row .review-row .review-excerpt {
    width: 41%;
    margin-right: 3%;
    font: normal normal 14px/16px "Open Sans", Arial, Helvetica, sans-serif;
    color: black; }
  .px_reviews_row .review-row .review-date {
    width: 10%;
    font: 600 normal 11px/14px "Open Sans", Arial, Helvetica, sans-serif;
    color: black; }
.px_reviews_row .reviews-headline {
  position: relative;
  border-bottom: 1px solid #c5c3c3; }
  .px_reviews_row .reviews-headline > ul {
    margin: 0px; }
    .px_reviews_row .reviews-headline > ul:after {
      content: "";
      display: block;
      clear: both; }
    .px_reviews_row .reviews-headline > ul > li {
      float: left;
      line-height: 22px; }
  .px_reviews_row .reviews-headline .px-checkbox-label {
    margin-left: 10px; }

.px-custom-select-box {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 110px; }
  .px-custom-select-box .s-hidden {
    visibility: hidden; }
  .px-custom-select-box .px-custom-select {
    position: absolute;
    z-index: -2;
    visibility: hidden; }
  .px-custom-select-box .styledSelect {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    width: 140px;
    height: 25px;
    background: #d7bb21;
    color: #3a3a3a;
    text-align: left;
    line-height: 25px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    padding-left: 20px; }
    .px-custom-select-box .styledSelect:after {
      content: "";
      display: block;
      width: 14px;
      height: 6px;
      background: url("images/arrow-down.png") no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 10px;
      margin-right: 7px; }
    .px-custom-select-box .styledSelect.active:after {
      background: url("images/arrow-up.png") no-repeat; }
  .px-custom-select-box .pxselect-options {
    display: none; }
    .px-custom-select-box .pxselect-options li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      float: none;
      cursor: pointer;
      text-align: left;
      padding-left: 20px;
      color: white;
      margin: 0px;
      line-height: 25px;
      height: 25px;
      border-top: 1px solid white; }
    .px-custom-select-box .pxselect-options li[rel="0"] {
      background: #d7bb21; }
    .px-custom-select-box .pxselect-options li[rel="delete"] {
      background: #ff0000; }
    .px-custom-select-box .pxselect-options li[rel="read"] {
      background: #39b54a; }

.reviews-container .review-row {
  margin-top: 10px;
  padding-top: 10px; }
  .reviews-container .review-row:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #c5c3c3;
    margin-top: 15px; }

.pxpagination-container {
  max-width: 410px;
  margin: 20px auto; }
  .pxpagination-container:after {
    content: "";
    display: block;
    clear: both; }
  .pxpagination-container > ul.pxpages > li {
    float: left;
    display: block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #dcdbdb;
    color: #797979;
    font: normal normal 16px/30px 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center; }
    .pxpagination-container > ul.pxpages > li a {
      display: block;
      width: 100%;
      height: 100%;
      color: #797979;
      text-decoration: none;
      text-align: center;
      font: normal normal 16px/30px 'Open Sans', Arial, Helvetica, sans-serif; }
    .pxpagination-container > ul.pxpages > li.active {
      border: 1px solid transparent;
      background: #d7bb21;
      color: white; }
      .pxpagination-container > ul.pxpages > li.active a {
        color: white;
        cursor: initial; }
    .pxpagination-container > ul.pxpages > li.non-page {
      border: 1px solid transparent;
      width: 20px;
      font-size: 18px;
      color: #797979;
      line-height: 45px; }

/*# sourceMappingURL=wpbackend.css.map */
